.carousel {
    width: 100%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center; 
    margin-top: 2vw;
}

.carousel-container {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    z-index: 0;
    border-radius: 1vw;
    background-position: center;
    align-items: center;
    justify-content: center;
    border-width: 0.3vw; 
    border-style: solid;
    border-color: #ffffff;
    width: 1vw; 
    height: 1vw; 
}

.carousel-item.index-1 {
    left: 3%;
    opacity: 1;
    width: 13vw;
    height: 13vw;
    margin-top: 8vw;
}


.carousel-item.index-2{
    left: 13.5%;
    width: 18vw;
    height: 18vw;
    opacity: 1;
    z-index: 1;
    margin-top: 4vw;
}

.carousel-item.index-3 {
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 23vw;
    width: 23vw;
    opacity: 1;
    left: 27.5%;
    z-index: 2;
}

.carousel-item.index-4 {
    left: 47.5%;
    width: 18vw;
    height: 18vw;
    opacity: 1;
    z-index: 1;
    margin-top: 4vw;
}

.carousel-item.index-5 {
    left: 63%;
    opacity: 1;
    width: 13vw;
    height: 13vw;
    margin-top: 8vw;
}

.carousel-item img {
    border-radius: 0.8vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-controls {
    display: flex;
    justify-content: center; 
    position: absolute;
    left: -11vw;
    width: 100%;  
    margin-bottom: -88vw; 
    padding-bottom: 10vw;

}

.carousel-controls button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2vw; 
    cursor: pointer;
    margin: 0 2vw; 
    padding: 0.5vw 2vw;
    text-transform: capitalize;
    transition: transform 0.2s ease;
}

.carousel-controls button:hover {
    transform: scale(1.2); 
}



.track-info {
    font-family: 'Helvetica';
    position: absolute;
    margin-top: 2vw;
    left: 0;
    right: 0;
    
}

.track-info p {
    font-family: 'Helvetica';
    left: 0;
    right: 0;
    color: #ffffff;
    font-size: 0vw;
    margin-top: -0.2vw;
    text-align: center;
    padding-left:2vw;
    padding-right:2vw;
}

.carousel-item.index-1 .track-info .track-name {
    font-size: 1vw;
    margin-top: -1vw;
}

.carousel-item.index-1 .track-info .track-artist {
    font-size: 0.4vw;
}

.carousel-item.index-2 .track-info .track-name {
    font-size: 1.5vw;
    margin-top: -0.5vw;
}

.carousel-item.index-2 .track-info .track-artist {
    font-size: 0.9vw;
}

.carousel-item.index-3 .track-info .track-name {
    font-size: 2vw;
}

.carousel-item.index-3 .track-info .track-artist {
    font-size: 1.4vw;
}

.carousel-item.index-4 .track-info .track-name {
    font-size: 1.5vw;
    margin-top: -0.5vw;
}

.carousel-item.index-4 .track-info .track-artist {
    font-size: 0.9vw;
}

.carousel-item.index-5 .track-info .track-name {
    font-size: 1vw;
    margin-top: -1vw;
}

.carousel-item.index-5 .track-info .track-artist {
    font-size: 0.4vw;
}

.song-display {
    text-align: center;
    margin-top: -1.5vw;
    background-color: rgba(91, 91, 91, 0.212);
    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.225);
    width: 47vw;
    height: 37vw;
    margin: 4vw auto;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    gap: 1.5vw;           
    animation: fadeInSlideUp 0.6s ease-out;
}

.tune-phrase-top{
    font-family: 'Horizon';
    color: #ffffff;
    font-size: 2vw;
    text-shadow: 0 0 5px #fff;
    font-weight: thin;
    margin-top: -0.3vw;
}
.tune-phrase-bottom{
    font-family: 'Horizon';
    color: #ffffff;
    font-size: 2vw;
    font-weight: thin;
    margin-top: -0.5vw;
    text-shadow: 0 0 5px #fff;
}

.song-info {
    display: inline-block;
    text-align: center;
}

.song-cover {
    border-radius: 1vw;
    width: 20vw; 
    height: 20vw; 
    object-fit: cover;
    margin-top: -2vw;
    border-width: 0.3vw; 
    border-style: solid;
    box-shadow: 0 0 20px #fff;
    border-color: #ffffffa2;
    animation: fadeInSlideUp 0.6s ease-out;
}

.song-title {
    font-family: 'Horizon';
    font-size: 1.5vw;
    font-weight: thin;
    color: #ffffff;
    text-shadow: 0 0 5px #fff;
    margin-top: 11px;
}

.song-artist {
    font-family: 'Helvetica';
    text-transform: uppercase;
    font-size: 1.5vw;
    color: #ffffff; 
    margin-top: -1vw;
    text-shadow: 0 0 5px #fff;
}
