@font-face{
    font-family: 'Horizon';
    src: url(fonts/Horizon.otf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(fonts/helvetica-world-bold.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%; /* Ensure they cover the full height */
    background: linear-gradient(to bottom right, #616060 20%, #dcd9d9 80%);
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-attachment: fixed; /* Ensure the background stays fixed during scrolling */
}



p {
    font-family: 'Horizon';
    font-size: 3.5vw;
    text-align: center;
    color: #ffffff;
}


.header{
    display: flex;
    flex-direction: column;
}


.stripe1{
    background-color: #0f141c00;
    display: flex;
    flex: 1 1 1vw;
    height: 9.4vw;
    justify-content: left;
    align-items: center;
    
}

.title{
    color: #ffffff;
    font-family: 'Horizon';
    font-size: 4vw;
    font-weight: 20;
    padding-left: 5vw;
    padding-right: 50vw;

    /* glow effect */
    text-shadow: 
        0 0 3.5px #fff,         
        0 0 0px #fff,            
        0 0 20px #b3b3b3,        
        0 0 10px #b3b3b3;
}

.logo{
    font-size: 3vw;
    font-weight: 3;
    padding-left: 3vw;
    outline: none;
    border: none;
    text-decoration: none;

    text-shadow: 
        0 0 3.5px #fff,         
        0 0 0px #fff,            
        0 0 20px #b3b3b3,        
        0 0 10px #b3b3b3;
}

.motto {
    font-family: 'Helvetica';
    font-size: 1.5vw;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 0 5px #fff;
    padding-left: 26vw;
    margin-top: -3vw;

}


.header2 {
    width: 100%;
    padding: 1vw 2vw;
}

.stripe2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.motto2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.3vw;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 10px #ffffff;
    margin: 0;
    margin-left: 1vw;
    margin-right: 13vw;
}

.title2 {
    font-family: 'Horizon', sans-serif;
    font-size: 2.5vw;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 10px #ffffff;
    margin: 0;
    text-transform: uppercase;
    margin-right: 35.5vw;
}

.logo2 {
    font-family: 'Horizon', sans-serif;
    font-size: 2.5vw;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    margin: 0;
    cursor: pointer;
}

.logo2:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #b3b3b3;
}

.logo:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #b3b3b3;
}

a {
    outline: none; 
    text-decoration: none;
}

a:focus, a:active{
    outline: none;
    box-shadow: none;
}

.logo:hover{
    cursor:pointer;
}

.content{
    display: flex;
    justify-content: space-around;
}

.form-container{
    width: 58vw;
}

.text-by p{
    height: 2vw;
    font-size: 3vw;
    margin-top: 1.5vw;
}

.input-boxes{
    display: flex;
    align-items: center;
    flex: 1 1 100px;
    flex-direction: column;
    margin-right: 3.5vw;
    margin-left: -5.5vw;
    margin-top: 6vw;
    margin-bottom: 7vw;
}

.input-boxes input:-webkit-autofill,
.input-boxes input:-webkit-autofill:hover,
.input-boxes input:-webkit-autofill:focus,
.input-boxes input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #848484 inset !important; 
    -webkit-text-fill-color: #ffffff !important; 
    background-color: #6b6a6a !important; 
    background-clip: padding-box !important;
    border: none !important; 
    outline: none !important;
    transition: background-color 0.2s ease-in-out;
}


.input-boxes-wrapper {
    background-color: rgba(74, 74, 74, 0.212); 
    padding: 2vw;                         
    border-radius: 2vw;                    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.225);
    width: 35vw;   
    height: 20vw;                         
    margin-bottom: -1.5vw;   
    margin-top: 4vw;   
    align-items: center;              
    justify-content: center;
    display: flex;
    padding-left: 11vw;
}

.input-boxes input {
    width: 40vw;
    height: 5.5vw;
    font-family: 'Helvetica';
    font-size: 2vw;
    text-align: center;
    color: #ffffff;
    border-style: solid;
    border-width: 0px;
    background-color: #1d1f2220;
    font-weight: 20vw;
    transition: 0.2s ease;
    border-radius: 1vw;
    text-transform: uppercase;
    text-shadow: 0 0 5px #fff;
}

input::placeholder{
    font-size: 2vw;
    text-align: center;
    color:#ffffff;
    font-weight: 20;
    transition: 0.2s ease;
    text-shadow: 0 0 5px #fff;
}


input:focus::placeholder{
    opacity: 0;
    transition: 0.2s ease;
    background-color: #0f141c20;
}


.form-container button {
    font-family: 'Horizon';
    font-size: 2vw;
    text-align: center;
    color: #ffffff;
    background-color: #39496500;
    border-color: #39496500;
    border-style: solid;
    font-weight: 20;
    margin-top: 0.5vw;
    margin-left: 11vw;
    transition: 0.1s ease;
}

button:hover {
    cursor: pointer;
    font-size: 2.05vw;
    transition: 0.1s ease;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #b3b3b3;
    cursor: pointer;
}

/* container for the album stack */
.album-stack {
    position: relative;
    width: 20vw;              
    height: 30vw;              
    margin: 2vw auto; 
    margin-left: 2.2vw;         
}

/* vinyl record styling */
.vinyl-record {
    position: absolute;
    width: 20vw;               
    height: auto;
    top: 5.5vw;                  
    left: 8.5vw;                 
    z-index: 0;   
    transition: 0.5s ease;             
}

.vinyl-record:hover {
    margin-left: 1.5vw;
    transition: 0.5s ease;
}

/* container for album covers */
.album-covers {
    position: relative;
    width: 100%;
    height: 100%;
}

.album-cover {
    position: absolute;
    width: 80%;                
    left: 10%;                
    border-radius: 0.5vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0.5vw;
    background-position: center;
    align-items: center;
    justify-content: center;
    border-width: 0.2vw; 
    border-style: solid;
    border-color: #ffffff;
    width: 10vw; 
    height: 10vw; 
}


.cover1 {
    top: -3vw;
    z-index: 0;
    width: 12vw;
    height: 12vw;
    margin-left: 1.7vw;
    transition: 0.5s ease; 
}

.cover1:hover{
    margin-top: -2vw;
    transition: 0.5s ease;
}


.cover2 {
    top: 0vw;
    z-index: 2;
    width: 15vw;
    height: 15vw;
    margin-left: 0.7vw;
    transition: 0.5s ease; 
}

.cover2:hover{
    margin-top: -1vw;
    transition: 0.5s ease;
}

.cover3 {
    top: 6.5vw;
    z-index: 3;
    width: 18vw;
    height: 18vw;
    transition: 0.5s ease; 
}

.cover3:hover{
    width: 18.5vw;
    height: 18.5vw;
    transition: 0.5s ease;
}


.cover4 {
    top: 16.5vw;
    z-index: 2;
    width: 15vw;
    height: 15vw;
    margin-left: 0.7vw;
    transition: 0.5s ease; 
}

.cover4:hover{
    margin-top: 1vw;
    transition: 0.5s ease;
}

.cover5 {
    top: 23vw;
    z-index: 0;
    width: 12vw;
    height: 12vw;
    margin-left: 1.7vw;
    transition: 0.5s ease; 
}

.cover5:hover{
    margin-top: 2vw;
    transition: 0.5s ease;
}
