<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TuneTwin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class='header'>
            <div class="stripe1">
                <h1 class="title">TuneTwin</h1>
                <a href="/">
                    <p class="logo">♫</p>
                </a>
            </div>
            <p class="motto">FEEL THE TUNE, FIND YOUR MATCH.</p>
        </div>
        <div class="content">
            <div class="album-stack">
                <img src="{{ url_for('static', filename='images/vinyl.png') }}" class="vinyl-record">
                <div class="album-covers">
                    <img src="{{ url_for('static', filename='images/album1.jpeg') }}" class="album-cover cover1">
                    <img src="{{ url_for('static', filename='images/album2.jpeg') }}" class="album-cover cover2">
                    <img src="{{ url_for('static', filename='images/album3.jpeg') }}" class="album-cover cover3">
                    <img src="{{ url_for('static', filename='images/album4.jpeg') }}" class="album-cover cover4">
                    <img src="{{ url_for('static', filename='images/album5.jpeg') }}" class="album-cover cover5">
                </div>
            </div>
            <div class="form-container">
                <form class='form' method="POST" action="/find-twin">
                    <div class="input-boxes-wrapper"> 
                        <div class="input-boxes">
                            <input type="text" name="song" placeholder="ENTER THE SONG NAME" required />
                            <div class="text-by">
                                <p>BY</p>
                            </div>
                            <input type="text" name="artist" placeholder="ENTER THE ARTIST NAME" required />
                        </div>
                    </div>
                    <button type="submit">Find your twin</button>
                </form>
            </div>
        </div>
    </body>
</html>